extends layout

block content
  h1 Instructions
  h2 Build a TODO application
  ol
    li
      | Display all TODOs in a list to the user.
      | When a todo is clicked on, display a new page with the details
      | of that single TODO.
    br
    li
      | Allow the user to add a new TODO
      | by clicking on a button that says 'ADD TODO'
      | and displaying a new form for the user to input
      | the TODO fields: title and body.
      | This form should create the new TODO
    br
    li
      | Add a button near each TODO that says 'DELETE'
      | Clicking this button should make a request to delete
      | the TODO and update the current list of TODOs visually.
    br
    li
      | Add a button near each TODO that says 'UPDATE'
      | When clicked, display a new page with a form
      | for inputting new TODO information: (title and body)

    h4 Routes can be found at:
    a(href="/routes") REST routes



